/* body {
    background-color: black;
}   */

.section {
  max-width: 960px;
  margin: 0 auto;
  /* padding: 20px; */
}

.nav,
.boxes,
.footer
,.footer form 
{
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}



/********************************/
/************ HEADER **************/
/********************************/


.header {
  background-image: url(/imgs/header.jpg);
  background-size: cover;
  /* padding: 0; */
}

.action {
  text-align: center;
  /* padding-top: 37px; */
}

.action h1 {
  /* margin: 0; */
  background-color: rgba(255, 255, 0, 0.459);
}

.action h2 {
  background-color: rgba(255, 255, 0, 0.459);
  /* margin: 0 0 20px 0; */
}

.nav {
  justify-content: space-between;
}

.nav a {
  background-color: rgba(255, 255, 0, 0.459);
  width: 23%;
  /* padding-left: 0;
    padding-right: 0; */
}



/********************************/
/************ INFO **************/
/********************************/
.info {
  background-color: white;
}

.info h2 {
  text-align: center;
}

.boxes div {
  flex: 1 1 250px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.1);
}

.boxes .more {
  margin-top: auto;
  background-color: rgba(153, 205, 50, 0.226);
}



/********************************/
/************ FOOTER **************/
/********************************/

/* flex:1 is equivalent to flex: 1 1 0 */


.copyright {
  background-color: rgba(255, 255, 0, 0.199);
}

.signup {
  background-color: rgba(255, 99, 71, 0.253);
}

.footer .copyright {
  flex: 2 1 500px;
}

.footer .signup {
  flex: 1 1 250px;
}