/* body {
    background-color: black;
}   */

.header {
    background-image: url(/imgs/header.jpg);
    background-size: cover;
    /* padding: 0; */
}

.section {
    max-width: 960px;
    margin: 0 auto;
    /* padding: 20px; */
}



.nav,
.boxes,
.footer {
    display: flex;
    flex-flow: row wrap;
    /* padding: 10px; */
}

/* flex:1 is equivalent to flex: 1 1 0 */
.boxes div {
    flex: 1 1 250px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 10px 0 10px;

    display: flex;
    flex-flow: column;

    background-color: rgba(0, 0, 0, 0.1);
}

.boxes div {
    background-color: rgba(50, 53, 205, 0.226);
}

.boxes .more {
    margin-top: auto;
    background-color: rgba(153, 205, 50, 0.226);
}


.info {
    background-color: white;
}


.nav {
    justify-content: space-between;
}


.nav a {
    background-color: rgba(255, 255, 0, 0.459);
    width: 23%;
    /* padding-left: 0;
    padding-right: 0; */

}



.action {
    text-align: center;
    /* padding-top: 37px; */


}

.action h1 {
    /* margin: 0; */
    background-color: rgba(255, 255, 0, 0.459);
}

.action h2 {
    background-color: rgba(255, 255, 0, 0.459);
    /* margin: 0 0 20px 0; */

}

.info h2 {
    text-align: center;
}


.copyright {
    background-color: rgba(255, 255, 0, 0.199);
}

.signup {
    background-color: rgba(255, 99, 71, 0.253);
}

.footer .copyright {
    flex: 2 1 500px;
}

.footer .signup {
    flex: 1 1 250px;
}

