/* 
body {
    background-color: black;
}  */

.header {
   
    background-image: url(/imgs/header.jpg);
    background-size: cover;
    /* padding: 0; */
}

.section {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.header .section  {
}

.nav {
   
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding: 10px;
}


.nav a {
    width: 23%;
    /* padding-left: 0;
    padding-right: 0; */
  
}


.action {
    text-align: center;
    padding-top: 37px;
    
}

.action h1 {
    margin: 0;
}

.action h2 {
    margin: 0 0 20px 0;
    
}