/********GENERAL-RULES************/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section {
    max-width: 960px;
    margin: 0 auto;
}

h1,
h2,
p {
    margin: 0;
}

input {
    padding: 0;
    border: 0;
}

.nav,
.box-container,
.box-container div,
.footer-container,
.signup {
    display: flex;
}

/********BUTTONS************/
.button,
input[type="submit"] {
    background-color: rgba(128, 128, 128, 0.733);
    text-align: center;
    white-space: nowrap;
    padding: 0 30px;
    height: 38px;
    display: inline-block;
    box-sizing: border-box;
    line-height: 38px;
    cursor: pointer;
    text-decoration: none;
    /* border: 0; */
}

.signup .primary-button {
    background-color: rgba(44, 153, 255, 0.733);
}


/********HEADER************/
.header {
    background-image: url(/imgs/header.jpg);
    background-size: cover;
}

.info {
    text-align: center;
}

.nav {
    flex-flow: row nowrap;
    justify-content: space-between
}

.nav a {
    width: 23%;
}

/********MAIN************/
.main {
    background-color: rgba(0, 0, 255, 0.185);
}

.main h2 {
    text-align: center;
}

.box-container {
    flex-flow: row wrap;
}

.box-container div {
    flex: 1 1 250px;
    background-color: rgb(201, 201, 201);
    flex-flow: column;
    padding: 10px;
    margin-bottom: 10px;
}

.box-container div:first-of-type {
    margin-right: 10px;
}

.box-container div:last-of-type {
    margin-left: 10px;
}



.more {
    margin-top: auto;
}

/********FOOTER************/



.footer {
    background-color: rgba(255, 127, 80, 0.24);
    margin-top: auto;
    /* padding-bottom: 20px; */
}

.footer-container {
    flex-flow: row wrap;
}

.footer-container .copyright {
    flex: 2 2 500px;
}

.footer-container .signup {
    flex: 1 1 250px;
    flex-flow: row wrap;
}

.signup input[type="submit"] {
    border-radius: 0 4px 4px 0;
    padding: 0 10px;
}

.signup input[type="email"] {
    flex: 1;
    height: 38px;

}



/********MEDIA************/
@media (max-width: 510px) {
    .nav {
        flex-flow: column wrap;
    }

    .nav a {
        width: 100%;
    }


}