
.section {
    padding-top: 300px;
    max-width: 960px;
    margin: 0 auto;
}


.footer {
   
    display: flex;
    flex-flow: row wrap;
}


.copyright {
    background-color: rgba(205, 92, 92, 0.233);
    flex: 2 2 500px;
}

.signup {
    background-color: rgba(58, 48, 150, 0.233);
    flex: 1 1 250px;
}

.container {
    background-color: rgba(126, 252, 0, 0.26);
}

input {
    background-color: rgba(0, 0, 255, 0.349);
}

